<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="images/icons/icon-512x512.png">
  <link rel="apple-touch-icon" href="images/icons/icon-512x512.png">
  <meta name="theme-color" content="#16171D" />
  <link rel="manifest" href="./app.webmanifest">
  <title>Restaurant Apps</title>
</head>

<body>
  <a href="#maincontent" class="skip-link" tabindex="0">Skip to content</a>
  <header class="header--main">
    <h1 class="text__important main"><a href="/">Yummy App</a></h1>
    <button id="hamburger">☰</button>
    <nav id="drawer">
      <ul>
        <li class="drawer-home"><a class="text__hover expand--span" href="./">Home</a></li>
        <li class="drawer-favorite"><a class="text__hover expand--span" href="#/favorites">Favorite</a></li>
        <li class="drawer-about"><a class="text__hover expand--span" href="https://github.com/azhrzf"
            target="_blank">About Us</a></li>
      </ul>
    </nav>
  </header>
  <main id="maincontent" tabindex="0">
    <section class="jumbotron">
    </section>
    <section class="data--in skip-link" id="maincontent">
      <h2 class="data--title">Explore Restaurant</h2>
      <section class="data--show">

      </section>
    </section>
  </main>
  <footer>
    <p class="text__important">CopyRight &copy; 2020 - Yummy App</p>
  </footer>
</body>

</html>